<form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!ShowLoading">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input class="form-control geo-input" type="email" placeholder="Username or email" name="email" ngModel required>
                </div>
                <div class="form-group space">
                    <input class="form-control geo-input" type="password" placeholder="Password" name="password" ngModel required>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input hide" type="checkbox" id="remember" name="remember" ngModel>
                    <span class="checkmark"></span>
                    <label class="form-check-label geo-text" id="label-remember" for="remember">Remember Me</label>
                </div>
            </div>
            <div class="col">
                <div class="geo-text" id="forget-password">Forgot Password?</div>
            </div>
        </div>
        <div class="row space centered">
            <input class="btn btn-primary geo-submit" type="submit" value="Sign in">
        </div>
        <div class="row centered" id="end-row">
            <div class="col" id="google-row" style="text-align: right;">
                <img src="/assets/images/search.svg">
            </div>
            <div class="col" id="office-row">
                <img src="/assets/images/office.svg">
            </div>
        </div>
    </div>
</form>
<div *ngIf="ShowLoading" id="loader">
    <div class="vs-spinner"></div>
</div>