.menu {
    background-color: #FFA200;
    height: 100%;
    width: 100%;
}

.header {
    background-color: #FF7100;
    height: 131.2px;
    border-radius: 0px 0px 80px 0px;
}

.body {
    margin-top: 56.8px;
}

.title {
    font-family: 'Gotham';
    font-size: 25.6px;
    color: white;
    font-weight: bold;
}