<div class="container" style="width: 432px;">
    <div class="row">
        <div class="col center-col">
            <div class="container-fluid" id="create-team">
                <div class="row">
                    <div class="col-9">
                        Create team
                    </div>
                    <div class="col" id="col-button" align="right">
                        <button class="btn vs-round-button centered" (click)="createTeam.fire()"><i class="fas fa-plus"
                                style="color: #FF9100;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col centered">
            <div class="container-fluid">
                <div class="row mt-3" *ngFor="let team of Teams">
                    <div class="col" style="padding: 0px;">
                        <app-team-card [Name]='team.name' [Logo]='"data:image/png;base64," + team.logo'></app-team-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
<ng-container>
    <swal #createTeam [showCancelButton]="true" [confirmButtonText]="'Create'" [confirmButtonColor]="'#FFA000'"
        (confirm)="onCreateTeam()" background="#F7FAFC">
        <div *swalPortal class="content-modal">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="form-group mt-5">
                            <input type="text" name="teamName" id="teamName" placeholder="Enter your team name"
                                class="vs-input" [(ngModel)]="NameNewTeam">
                        </div>
                    </div>
                    <div class="col">
                        <label for="file-input">
                            <div class="download-button centered">
                                <i class="fas fa-download" id="logo-download"></i>
                            </div>
                        </label>
                        <input type="file" id="file-input" style="display: none;" (change)="onFileUpload($event)"
                            #FileInput>
                    </div>
                </div>
            </div>
        </div>

        <div *swalPortal="swalTargets.title" class="title-modal">
            CREATE TEAM
        </div>
    </swal>
</ng-container>