#create-team {
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: bold;
    background-color: #F67D00;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    margin-top: 40px;
}

.vs-round-button {
    background-color: #FFCB29;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}


.center-col {
    width: 400px;
}

.title-modal {
    color: #FFA000;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
}

label {
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 16px;
}

.download-button {
    background-color: #FFA000;
    border: 5px solid #FF7100;
    border-radius: 200px;
    height: 150px;
    width: 150px;
}

.content-modal {
    margin-top: 50px;
    margin-bottom: 40px;
}

#logo-download {
    color: #FF7100;
    font-size: 50px;
}