/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./visual-framework/spinner";
@import "./visual-framework/utility";
$fa-font-path: "./visual-framework/fontawesome/webfonts";
@import "./visual-framework/fontawesome/fontawesome.scss";
@import "./visual-framework/fontawesome/solid.scss";
@import "./visual-framework/card";
@import "./visual-framework/input";



body {
    background-color: #F9FBFD;
  }

@font-face {
    font-family: Gotham;
    src: url(assets/fonts/Gotham-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Gotham;
    src: url(assets/fonts/Gotham-Thin.otf);
    font-weight: 300;
}


@font-face {
    font-family: 'Gotham Book';
    src: url(assets/fonts/Gotham-Book.otf);
}

body {
	height: 100vh;
	color: #fff;
    background-image: url(/assets/images/Background.svg);
    background-size: 100%;
    display: flex;
	justify-content: center;
	align-content: center;
}